# Sets
### A set in Python is an <b>unordered</b>, <b>mutable</b>, and <b>unique</b> collection of elements. It does not allow duplicate values.

## Common Set methods:
| Method         | Description                                         | Example                   |
|----------------|-----------------------------------------------------|---------------------------|
| add(x)         | Adds an element x to the set.                       | `my_set.add(10)`          |
| update(iterable)| Adds multiple elements from an iterable.           | `my_set.update([6, 7, 8])`|
| remove(x)      | Removes x from the set (raises an error if not found). | `my_set.remove(3)`        |
| discard(x)     | Removes x from the set (does not raise an error if not found). | `my_set.discard(3)`       |
| pop()          | Removes and returns a random element.              | `my_set.pop()`            |
| clear()        | Removes all elements from the set.                 | `my_set.clear()`          |
| copy()         | Returns a shallow copy of the set.                 | `new_set = my_set.copy()` |

## Set Operations:
| Operation                 | Description                                                   | Example                       |
|----------------------------|---------------------------------------------------------------|-------------------------------|
| union(set2)                | Returns a new set with all unique elements from both sets.    | `set1.union(set2)`            |
| intersection(set2)         | Returns a set with elements common to both sets.              | `set1.intersection(set2)`     |
| difference(set2)           | Returns a set with elements in set1 but not in set2.          | `set1.difference(set2)`       |
| symmetric_difference(set2) | Returns a set with elements in either set1 or set2, but not both. | `set1.symmetric_difference(set2)` |
| issubset(set2)             | Returns True if set1 is a subset of set2.                    | `set1.issubset(set2)`        |
| issuperset(set2)           | Returns True if set1 is a superset of set2.                  | `set1.issuperset(set2)`      |

In [1]:
l = [23,4,4,3,4,3,4,3,5,45,3,4,3]
unique_numbers = set(l)
unique_numbers

{3, 4, 5, 23, 45}

In [2]:
unique_numbers.add(100)
unique_numbers

{3, 4, 5, 23, 45, 100}

In [3]:
unique_numbers.update([2,3,3,4,3,4])  # Only Added numbers which were not there in the set
unique_numbers

{2, 3, 4, 5, 23, 45, 100}

In [4]:
random_num = unique_numbers.pop()
random_num
unique_numbers

{3, 4, 5, 23, 45, 100}

### This will throw an <b>error</b>

In [5]:
unique_numbers.remove(39) # this will throw an error if element is not found

KeyError: 39

In [ ]:
unique_numbers.discard(39) # this will try to remove the element if not found will not throw error

# <b>SET OPERATIONS</b>

In [15]:
set1 = {1,2,3,4,5,6,7,8,9}
set2 = {7,8,9,0}
print("first set: ",set1)
print("second set: ",set2)
set1.union(set2)

first set:  {1, 2, 3, 4, 5, 6, 7, 8, 9}
second set:  {8, 9, 0, 7}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [18]:
set1.intersection(set2)

{7, 8, 9}